<!DOCTYPE html>
<html>
<head>
    <title>SongBook</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='logo.png') }}" style="height: 50px;" className="App-logo" alt="logo"></img>
		<h1>Welcome to SongBook</h1>
		<h2>Type in your search terms:</h2>
		<form action='/' method="post">
			<input type='text' id="song_name" name='song_name' placeholder='Song' />
			<input type='text' id="artist_name" name='artist_name' placeholder='Artist' /><br />
			<input type='submit' value='Search' />
		</form>

        {% if track %}
        <!-- Put track listing information here -->
        <table>
        <tr>
            <!-- Put music player here -->
            <div class="music_player">Temporary placeholder for music player</div>
        </tr>
        <tr>
            <td>
                <!-- Temporary image -->
                <img class="album_art" alt="Album Art" src="https://upload.wikimedia.org/wikipedia/en/thumb/0/08/Justin_Bieber_-_Justice.png/220px-Justin_Bieber_-_Justice.png"  />
                <p class="popularity"><img src="{{ url_for('static', filename='heart.png') }}"> {{ track[5] }}%</p>
            </td>
            <td>
                <p class="title">Title: {{ track[0] }}</p>
                <p class="album">Album: {{ track[1] }}</p>
                <p class="artist">Artist: {{ track[2] }}</p>
                <p class="release_date">Released: {{ track[3] }}</p>
            </td>
        </tr>
        </table>
		{% endif %}
</body>
</html>
