<!DOCTYPE html>
<html>
<head>
    <title>SongBook</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='logo.png') }}" style="height: 50px;" className="App-logo" alt="logo"></img>
		<h1>Welcome to SongBook!</h1>
		<h2>Type in your search terms:</h2>
		<form action='/' method="post">
			<input type='text' id="song_name" name='song_name' placeholder='Song' />
			<input type='text' id="artist_name" name='artist_name' placeholder='Artist' /><br />
			<input type='submit' value='Search' />
		</form>

        {% if track %}
        <!-- Put track listing information here -->
        <table>
        <tr>
            <td>
                <!-- Temporary image -->
                <iframe src="https://open.spotify.com/embed/track/4dd9GGN2kHb1d28yGL578m" width="300" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                <p class="popularity"><img src="{{ url_for('static', filename='heart.png') }}"> {{ track[5] }}%</p>
            </td>
            <td>
                <p class="title">Title: {{ track[0] }}</p>
                <p class="album">Album: {{ track[1] }}</p>
                <p class="artist">Artist: {{ track[2] }}</p>
                <p class="release_date">Released: {{ track[3] }}</p>
            </td>
        </tr>
        </table>
        <span class="search_again">
            Not what you were looking for?<br />
            <a href="/">Click here to search again</a>
        </span>
		{% endif %}

        {% if no_results_err %}
        <!-- Throw an error element to the screen -->
        <span class="error">
            🤷 Our search produced no results! <a href="/">Try again?</a>
        </span>
        {% endif %}
</body>
</html>
